@use "vars";


$bp-super-small: 320px;
$bp-small-medium: 414px;
$bp-small: 600px;
$bp-medium: 900px;
$bp-medium-big: 1100px;
$bp-big: 1366px;
$bp-super-big: 1920px;

@mixin bp($from, $to: false) {
  @if $to {
    @media (min-width: #{$from}) and (max-width: #{$to - 1}) {
      @content;
    }
  } @else {
    @media (min-width: #{$from}) {
      @content;
    }
  }
}
